/* VueJS */
[v-cloak] {
    display: none;
}

/* Bootstrap Overrides */
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 92%;
    }
}
@media (min-width: 992px) {
    .modal-lg {
        max-width: 800px;
    }
}

/* Application Styles */
.players thead th {
    border-top: none;
}

.lineup {
    border: none;
}
.lineup td, .lineup th, .lineup thead th {
    border-color: #bbb;
}
.lineup td.crossed {
    background-image: linear-gradient(to bottom left,  transparent calc(50% - 2px), #000, transparent calc(50% + 2px));
}
.lineup thead > tr:first-child th {
    border-bottom-width: 1px;
}
.lineup thead > tr:first-child th:first-child {
    border-left: none;
    border-top: none;
}
